:root {
  /* Font */
  --main-font: 'Open Sans', sans-serif;
  --secondary-font: 'Raleway', sans-serif;

  /* Text colors  */
  --main-txt-cl: #555555;
  --secondary-txt-cl: #303030;
  --accent-txt-cl: #ff6c00;
  --light-txt-cl: #ffffff;
  --dark-txt-cl: #000000;
  --grey-txt-cl: #9da4bd;
  --grey-cl-20: rgba(157, 164, 189, 0.2);
  --grey-cl-40: rgba(157, 164, 189, 0.4);
  --grey-cl-60: rgba(157, 164, 189, 0.6);

  /* Background colors */
  --main-bg-cl: #555555;
  --secondary-bg-cl: #303030;
  --accent-bg-cl: #ff6c00;
  --light-bg-cl: #ffffff;
  --dark-bg-cl: #191c26;
  --grey-bg-cl: #9da4bd;

  /* Others */
  --radius: 25px;
  --indent: 30px;
  --items: 3;
  --hero-idx: 10;
  --header-idx: 100;
}

/* Base styles */
body {
  font-family: var(--main-font);
  font-size: 18px;
  line-height: calc(30 / 18);
  letter-spacing: 0.02em;
  color: var(--main-txt-cl);
}

/* reset start */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  color: currentColor;
  text-decoration: none;
}
button {
  cursor: pointer;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.visually-hidden {
  position: absolute;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  height: 1px;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  width: 1px;
  overflow: hidden;
}
/* reset end */

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;

  /* outline: 2px solid red;
  outline-offset: -2px; */
}
.link {
  text-decoration: none;
  color: currentColor;
}
.list {
  list-style: none;
}
.btn {
  min-width: 160px;
  min-height: 40px;

  padding: 11px 19px;

  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: var(--secondary-txt-cl);

  background-color: transparent;
  border: 1px solid var(--accent-bg-cl);
  border-radius: var(--radius);
  cursor: pointer;
}
.btn:hover,
.btn:focus {
  color: var(--light-txt-cl);
  background-color: var(--accent-bg-cl);
}
.btn-theme-dark {
  color: var(--light-txt-cl);
}
.main-title {
  margin-bottom: 20px;

  font-family: var(--secondary-font);
  font-size: 72px;
  line-height: calc(85 / 72);
  letter-spacing: 0.05em;
  color: var(--light-txt-cl);
}
.uppertitle {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;

  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.uppertitle::before {
  content: '';
  display: block;
  width: 60px;
  height: 1px;
  background-color: var(--secondary-bg-cl);
}
.uppertitle-theme-dark {
  color: var(--grey-cl-60);
}
.uppertitle-theme-dark::before {
  background-color: var(--grey-cl-60);
}
.title {
  margin-bottom: 20px;

  font-family: var(--secondary-font);
  font-size: 42px;
  line-height: calc(49 / 42);
  letter-spacing: 0.05em;
  color: var(--secondary-txt-cl);
}
.title-theme-dark {
  margin-bottom: 44px;
  color: var(--light-txt-cl);
}
.undertitle {
  margin-bottom: 20px;
}
.undertitle-theme-dark {
  color: var(--grey-txt-cl);
}

/**
  |============================
  | Card set
  |============================
*/
.card-set {
  display: flex;
  flex-wrap: wrap;

  gap: var(--indent);
}
.card-set-item {
  flex-basis: calc((100% - (var(--indent) * (var(--items) - 1))) / var(--items));
}

/**
  |============================
  | Header section
  |============================
*/
.header {
  position: fixed;
  top: 0;
  z-index: var(--header-idx);

  width: 100%;
  padding-top: 32px;
  padding-bottom: 32px;
}
.header-container {
  display: flex;
  align-items: center;
}
.header-nav {
  margin-right: auto;
}
.header-link {
  margin-right: 130px;
}
.header-list {
  display: flex;
  gap: 30px;
}
.header-nav-link.current {
  color: var(--accent-txt-cl);
}
.header-nav-link.current::after {
  content: '';
  position: absolute;
  bottom: 0;

  display: block;
  width: 100%;
  height: 4px;

  background-color: var(--accent-bg-cl);
  border-radius: 2px;
}
.header-nav-link,
.header-contact {
  position: relative;
  display: block;
  padding-top: 20px;
  padding-bottom: 20px;

  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;

  color: var(--light-txt-cl);
}
.header-nav-link:hover,
.header-nav-link:focus,
.header-contact:hover,
.header-contact:focus {
  color: var(--accent-txt-cl);
}
.header-wrapper {
  display: flex;
  align-items: center;
  gap: 40px;

  padding-right: 20px;
}

/**
  |============================
  | Hero section
  |============================
*/
.hero {
}
.hero-container {
  position: relative;
  display: flex;
}
.hero-undertitle {
  width: 360px;
  margin-bottom: 0;
}
.hero-left-side {
  width: 100px;
}
.media-list {
  display: flex;
  align-items: center;
  gap: 40px;
}
.media-list::before {
  content: '';
  display: block;
  width: 60px;
  height: 1px;
  flex-shrink: 0;
  background-color: var(--secondary-bg-cl);
}
.media-link {
  display: block;
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  letter-spacing: 0.2em;

  color: var(--secondary-txt-cl);
}
.media-link:hover,
.media-link:focus {
  color: var(--accent-txt-cl);
}
.hero-right-side {
  padding-top: 272px;
  padding-left: 100px;
  padding-bottom: 208px;
  flex-grow: 1;

  background-color: var(--dark-bg-cl);
  background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)),
    url(../images/hero/hero-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
}
.slider-list {
  position: absolute;
  right: 35px;
  bottom: 40px;

  display: flex;
  align-items: center;
  gap: 24px;
}
.slider-btn {
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  letter-spacing: 0.1em;
  color: var(--light-txt-cl);

  background-color: transparent;
  cursor: pointer;
}

/**
  |============================
  | About section
  |============================
*/
.about {
}
.about-container {
  display: flex;
  gap: 30px;
}
.about-list {
  display: flex;
  gap: 30px;
}
.about-right-side {
  width: 470px;
}
.about-desc {
  margin-bottom: 42px;

  font-size: 14px;
  line-height: calc(26 / 14);
  color: var(--dark-txt-cl);
}
/**
  |============================
  | Price section
  |============================
*/
.price {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(../images/price/bg-img.png);
  background-color: var(--dark-bg-cl);
  background-repeat: no-repeat;
  background-position: center;
  /* background-position: top calc(50%) left calc(50% + 800px); */
  background-size: cover;
}
.price-block {
  display: flex;
  gap: 30px;
  margin-bottom: 44px;
}
.price-list {
  width: 570px;
  padding: 30px 20px;
}
.price-list:first-child {
  background-image: linear-gradient(#171a24, rgba(23, 26, 36, 0.2));
}
.price-list:last-child {
  background-image: linear-gradient(#090b13, rgba(9, 11, 19, 0.2));
}
.price-item {
  display: flex;
  align-items: baseline;
  gap: 12px;

  font-size: 18px;
  line-height: calc(30 / 18);
  color: var(--grey-txt-cl);
}
.price-item:not(:last-child) {
  margin-bottom: 20px;
}
.price-item::before {
  content: '';
  flex-grow: 1;
  display: block;
  height: 1px;
  background-color: var(--grey-cl-20);
}
.price-service {
  order: -1;
}
.price-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/**
  |============================
  | Benefits
  |============================
*/
.benefits-container {
  display: flex;
  gap: 30px;
}
.benefits-left-side {
  width: 570px;
}
.benefits-right-side {
  width: 500px;
}
.benefits-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  width: 370px;
  margin-left: auto;
  margin-right: auto;
}
.benefits-item {
  width: 170px;
  min-height: 133px;
  padding: 20px 24px;
  background-color: #f7f7f7;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
}
.benefits-item:nth-child(2n) {
  margin-top: 30px;
}
.benefits-quantity {
  font-weight: 700;
  font-size: 42px;
  line-height: calc(57 / 42);
  text-align: center;
  letter-spacing: 0.05em;

  color: var(--secondary-txt-cl);
}
.benefits-decor {
  font-weight: 600;
  font-size: 16px;
  line-height: calc(22 / 16);
  text-align: center;
  color: var(--accent-txt-cl);
}
.benefits-text {
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  text-align: center;

  color: var(--secondary-txt-cl);
}

/**
  |============================
  | Team
  |============================
*/
.team {
  background-color: #f7f7f7;
}
.team-title {
  margin-bottom: 44px;
}
.team-wrapper {
  padding-top: 30px;
  padding-bottom: 30px;

  outline: 2px solid red;
  outline-offset: -2px;
}
.team-name {
  font-weight: 400;
  font-size: 18px;
  line-height: calc(25 / 18);
  text-align: center;
  letter-spacing: 0.02em;
}
.team-position {
  margin-bottom: 30px;

  font-size: 14px;
  line-height: calc(19 / 14);
  text-align: center;
  letter-spacing: 0.02em;

  color: var(--accent-txt-cl);
}
.socials {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.socials-link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 44px;
  height: 44px;
  background-color: var(--light-bg-cl);
  border-radius: 50%;
  color: var(--secondary-bg-cl);
}
/* .socials-link:hover,
.socials-link:focus {
  color: var(--accent-bg-cl);
}
.socials-icon {
  fill: currentColor;
} */

.socials-icon {
  fill: var(--secondary-bg-cl);
}
.socials-link:hover .socials-icon,
.socials-link:focus .socials-icon {
  fill: var(--accent-bg-cl);
}
/**
  |============================
  | Gallery
  |============================
*/
.gallery-uppertitle {
  margin-bottom: 44px;
}
.gallery-list {
  --items: 4;
}

/**
  |============================
  | Booking
  |============================
*/
.contatcs-group {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;

  background-color: var(--dark-bg-cl);
  background-image: url(../images/contacts/bg-img.png);
  background-repeat: no-repeat;
  background-position: left calc(50% + 408px) top;
}
.contatcs-container {
  display: flex;
  gap: 30px;
}

.booking {
  width: 570px;
}
/**
  |============================
  | Contatcs
  |============================
*/
.contacts {
  width: 570px;
  padding-left: 100px;
}
.contacts-address {
  margin-bottom: 72px;
  font-style: normal;
}
.contacts-item:not(:last-child) {
  margin-bottom: 20px;
}
.contacts-link {
  display: flex;
  align-items: center;
  gap: 16px;

  color: var(--grey-txt-cl);
}
.contacts-icon {
  fill: transparent;
  stroke: currentColor;
}
.contacts-uppertitle {
  margin-bottom: 20px;

  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: var(--light-txt-cl);
}
.contacts-schedule {
  color: var(--grey-txt-cl);
}
/**
  |============================
  | Footer
  |============================
*/
.footer {
  padding-top: 52px;
  padding-bottom: 52px;
}
.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-copyright {
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  letter-spacing: 0.2em;

  color: var(--grey-txt-cl);
}
