:root {
  /* Fonts */
  --main-font: 'Open Sans', sans-serif;
  --secondary-font: 'Raleway', sans-serif;

  /* Text colors */
  --main-txt-cl: #303030;
  --accent-txt-cl: #ff6c00;
  --light-txt-cl: #ffffff;
  --dark-txt-cl: #555555;

  --grey-cl: rgb(157, 164, 189);
  --grey-cl-40: rgba(157, 164, 189, 0.4);
  --grey-cl-60: rgba(157, 164, 189, 0.6);

  /* BG colors */
  --dark-bg-cl: #191c26;
  --accent-bg-cl: #ff6c00;
  --light-bg-cl: #ffffff;
  --arctic-bg-cl: #f7f7f7;

  /* Gradients */
  --light-gradient: 180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%;
  --dark-gradient: 180deg, #090b13 0%, rgba(9, 11, 19, 0.2) 100%;

  /* Others */
  --btn-radius: 25px;
  --field-radius: 6px;
  --indent: 30px;
  --items: 1;
  --header-idx: 100;
  --modal-idx: 1000;

  --anim-fast: 300ms ease;
  --anim-slow: 1800ms ease-out;

  /* Breakpoints */
  --phone: 480px;
  --tablet: 768px;
  --desktop: 1200px;
}
/* animations */
@keyframes right-to-left {
  0% {
    opacity: 0;
    transform: translateX(200px);
  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
/**
  |============================
  | Base styles
  |============================
*/
html {
  scroll-behavior: smooth;
}
body {
  font-family: var(--main-font);
  font-size: 18px;
  line-height: calc(30 / 18);
  letter-spacing: 0.02em;
  color: var(--main-txt-cl);
}
/* reset start */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
.link {
  text-decoration: none;
  color: currentColor;
}
.list {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* responsive images */
img {
  display: block;
  max-width: 100%;
  height: auto;

  object-fit: cover;
  object-position: center;
}
.visually-hidden {
  position: absolute;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  height: 1px;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  width: 1px;
  overflow: hidden;
} /* reset end */
.page {
  overflow: hidden;
}
.section {
  padding-top: 84px;
  padding-bottom: 84px;
}
@media screen and (min-width: 768px) {
  .section {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
} /* 320px <= phone screen <= infinity */
.container {
  min-width: 320px;
  max-width: 448px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* 768px <= tablet screen <= infinity */
@media screen and (min-width: 768px) {
  .container {
    max-width: 720px;
  }
} /* 1200px <= tablet screen <= infinity */
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}
.main-title {
  margin-bottom: 20px;
  font-family: var(--secondary-font);
  font-size: 48px;
  line-height: 1.18;
  letter-spacing: 0.05em;
  color: var(--light-txt-cl);

  animation: right-to-left 1000ms ease-in-out 500ms both;
}
@media screen and (min-width: 1200px) {
  .main-title {
    font-size: 72px;
  }
}
.uppertitle {
  display: flex;
  align-items: center;
  margin-bottom: 20px;

  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.uppertitle::before {
  content: '';
  width: 60px;
  height: 1px;
  margin-right: 20px;
  background-color: var(--main-txt-cl);
}
.uppertitle-theme-dark {
  color: var(--grey-cl-60);
}
.uppertitle-theme-dark::before {
  background-color: rgba(157, 164, 189, 0.6);
}
.title {
  margin-bottom: 20px;

  font-family: var(--secondary-font);
  font-size: 28px;
  line-height: calc(49 / 42);
  letter-spacing: 0.05em;
}
@media screen and (min-width: 1200px) {
  .title {
    font-size: 42px;
  }
}
.title-theme-dark {
  margin-bottom: 44px;

  color: var(--light-txt-cl);
}
.undertitle {
  margin-bottom: 20px;
  color: var(--dark-txt-cl);
}
.undertitle-theme-dark {
  color: var(--grey-cl);
}
.btn {
  min-width: 160px;
  min-height: 40px;
  padding: 11px 19px;

  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: calc(16 / 12);
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: var(--main-txt-cl);

  background-color: transparent;
  border: 1px solid var(--accent-bg-cl);
  border-radius: 25px;
  cursor: pointer;

  transition: color var(--anim-fast), background-color var(--anim-fast);
}
.btn:hover,
.btn:focus {
  color: var(--light-txt-cl);
  background-color: var(--accent-bg-cl);
}
.btn-theme-dark {
  color: var(--light-txt-cl);
}
/**
  |============================
  | Card set
  |============================
*/
.card-set {
  display: flex;
  flex-wrap: wrap;
  gap: var(--indent);
}
.card-set-item {
  flex-basis: calc((100% - var(--indent) * (var(--items) - 1)) / (var(--items)));
}
/**
  |============================
  | Header
  |============================
*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--header-idx);
  width: 100%;
  transition: background-color var(--anim-fast), backdrop-filter var(--anim-fast);
}
@media screen and (max-width: 767.98px) {
  .header {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
.header.no-transparency {
  background-color: rgba(25, 28, 38, 0.5);
  backdrop-filter: blur(4px);
}
.header-container {
  display: flex;
  align-items: center;
}
#shave {
  animation: rotate 10s linear infinite reverse;
  transform-origin: center;
}
.header-link {
  margin-right: 60px;
}
@media screen and (min-width: 1200px) {
  .header-link {
    margin-right: 132px;
  }
}
.header-logo {
  fill: var(--light-txt-cl);
  transition: fill var(--anim-fast);
}
@media screen and (min-width: 768px) {
  .header-logo {
    fill: var(--main-txt-cl);
  }
}
.no-transparency .header-logo {
  fill: var(--light-txt-cl);
}
.header-nav {
  margin-right: auto;
}
@media screen and (max-width: 767.98px) {
  .header-nav {
    display: none;
  }
}
.header-list {
  display: flex;
  align-items: center;
}
.header-item:not(:last-child) {
  margin-right: 16px;
}
@media screen and (min-width: 1200px) {
  .header-item:not(:last-child) {
    margin-right: 30px;
  }
}
.header-nav-link {
  position: relative;
  display: block;
  padding: 52px 0;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: var(--light-txt-cl);
  transition: color 300ms ease-in;
}
.header-nav-link:hover,
.header-nav-link:focus {
  color: var(--accent-txt-cl);
}
.header-nav-link.active {
  color: var(--accent-txt-cl);
}
.header-nav-link::after {
  content: '';
  position: absolute;
  bottom: 30px;
  left: 5%;
  width: 90%;
  height: 4px;
  border-radius: 4px;
  background-color: var(--accent-bg-cl);
  opacity: 0;
  transform: scaleX(0.2);
  transition: opacity var(--anim-fast), transform var(--anim-fast);
}
.header-nav-link:hover::after,
.header-nav-link:focus::after {
  opacity: 1;
  transform: scaleX(1);
}
.header-nav-link.active::after {
  opacity: 1;
  transform: scaleX(1);
}
@media screen and (max-width: 767.98px) {
  .header-wrapper {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .header-wrapper {
    display: flex;
    align-items: center;
    padding-right: 20px;
  }
}
.header-contact {
  display: block;
  padding: 52px 0;
  margin-right: 40px;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: var(--light-txt-cl);
  transition-property: color 300ms ease-in;
}
.header-contact:hover,
.header-contact:focus {
  color: var(--accent-txt-cl);
}
@media screen and (max-width: 1199.98px) {
  .header-contact {
    display: none;
  }
} /**
  |============================
  | Hero
  |============================
*/
@media screen and (max-width: 767.98px) {
  .hero {
    padding-top: 208px;
    padding-bottom: 209px;
    background-color: var(--dark-bg-cl);
  }
}
.hero-container {
  position: relative;
  display: flex;
}
.hero-left-side {
  width: 100px;
  display: flex;
  align-items: flex-end;
}
@media screen and (max-width: 767.98px) {
  .hero-left-side {
    display: none;
  }
}
.hero-media {
  margin-bottom: 40px;
  transform: rotate(-90deg) translateY(26px);
  transform-origin: top left;
}
.media-list {
  display: flex;
  align-items: center;
  gap: 40px;
}
.media-list::before {
  content: '';
  display: block;
  width: 60px;
  height: 1px;
  background-color: var(--main-txt-cl);
}
.media-link {
  display: block;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: var(--main-txt-cl);
  transition: color var(--trns-fast);
}
.media-link:hover,
.media-link:focus {
  color: var(--accent-txt-cl);
}
@media screen and (min-width: 768px) {
  .hero-right-side {
    padding: 272px 0 208px 100px;
    flex-grow: 1;
    background-color: var(--dark-bg-cl);
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)),
      url(../images/hero/hero-bg.jpg);
  }
}
.hero-uppertitle {
  animation: vertical-move 1s ease-in-out calc(500ms * var(--shift)) both;
}
.hero-title {
  animation: right-to-left 1s ease-in-out calc(500ms * var(--shift)) both;
}
.hero-undertitle {
  width: 360px;
  animation: vertical-move 1s ease-in-out calc(500ms * var(--shift)) both;
}
@media screen and (max-width: 767.98px) {
  .hero-undertitle {
    font-size: 14px;
  }
}
/* slider controls */
.slider-pagination {
  position: absolute;
  top: 50%;
  right: 35px;
}
@media screen and (max-width: 767.98px) {
  .slider-pagination {
    display: none;
  }
}
.slider-pagination-item {
  margin-left: auto;
  width: 8px;
  height: 2px;
  background-color: var(--grey-cl);
}
.slider-pagination-item:not(:last-child) {
  margin-bottom: 12px;
}
.slider-pagination-item.active {
  width: 18px;
  background-color: var(--light-txt-cl);
}
.slider-controls {
  position: absolute;
  right: 35px;
  bottom: 40px;

  display: flex;
  align-items: center;
  gap: 24px;
}
@media screen and (max-width: 767.98px) {
  .slider-controls {
    display: none;
  }
}
.slider-btn {
  min-width: 60px;
  min-height: 24px;
  padding: 0;
  padding-bottom: 8px;

  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-align: right;
  color: var(--light-txt-cl);

  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--light-txt-cl);
  cursor: pointer;
}
.slider-btn.disable {
  text-align: left;
  color: rgba(157, 164, 189, 0.6);
  border-color: rgba(157, 164, 189, 0.6);
  cursor: not-allowed;
} /**
  |============================
  | About
  |============================
*/
.about-container {
  display: flex;
}
.about-list {
  display: flex;
  gap: 30px;
  margin-right: 30px;
}
@media screen and (max-width: 767.98px) {
  .about-list {
    display: none;
  }
}
@media screen and (max-width: 1199.98px) {
  .about-list {
    flex-direction: column;
  }
}
.about-item {
  overflow: hidden;
}
.about-img {
  transition: transform 1000ms ease;
}
.about-item:hover .about-img {
  transform: scale(1.2);
}
.about-right-side {
  max-width: 330px;
}
@media screen and (min-width: 1200px) {
  .about-right-side {
    max-width: 470px;
  }
}
.about-desc {
  margin-bottom: 42px;
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  color: var(--dark-txt-cl);
}
/**
  |============================
  | Price
  |============================
*/
.price {
  max-width: 1600px;
  margin: 0 auto;
  background-color: var(--dark-bg-cl);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  /* Phone screen */
  background-image: url(../images/price/bg-img_mob@1x.png);
}
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .price {
    background-image: url(../images/price/bg-img_mob@2x.png);
  }
}
@media screen and (min-width: 481px) {
  .price {
    background-image: url(../images/price/bg-img_tab@1x.png);
  }
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .price {
      background-image: url(../images/price/bg-img_tab@2x.png);
    }
  }
}
@media screen and (min-width: 769px) {
  .price {
    background-image: url(../images/price/bg-img_desk@1x.png);
  }
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .price {
      background-image: url(../images/price/bg-img_desk@2x.png);
    }
  }
}
.price-block {
  margin-bottom: 44px;
}
@media screen and (max-width: 1199.98px) {
  .price-block {
    padding: 32px 34px;

    background-image: linear-gradient(var(--light-gradient));
  }
}
@media screen and (max-width: 767.98px) {
  .price-block {
    padding: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .price-block {
    display: flex;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1200px) {
  .price-list {
    flex-basis: 570px;
    padding: 30px 20px;
  }
}
@media screen and (max-width: 1199.98px) {
  .price-list:first-child {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .price-list:first-child {
    background-image: linear-gradient(var(--light-gradient));
  }
}
@media screen and (min-width: 1200px) {
  .price-list:last-child {
    background-image: linear-gradient(var(--dark-gradient));
  }
}
.price-item {
  display: flex;
  align-items: baseline;

  color: var(--grey-cl);
}
@media screen and (max-width: 767.98px) {
  .price-item {
    font-size: 14px;
  }
}
.price-item:not(:last-child) {
  margin-bottom: 20px;
}
.price-item::before {
  content: '';
  display: block;
  height: 1px;
  flex-grow: 1;
  margin-left: 12px;
  margin-right: 12px;

  background-color: rgba(157, 164, 189, 0.12);
}
.price-service {
  order: -1;
}
.price-btn {
  display: block;
  margin: 0 auto;
}
/**
  |============================
  | Benefits section
  |============================
*/
@media screen and (min-width: 768px) {
  .benefits-container {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (min-width: 1200px) {
  .benefits-container {
    flex-direction: row-reverse;
    justify-content: center;
  }
}
.benefits-top {
  max-width: 500px;
}
@media screen and (max-width: 1199.98px) {
  .benefits-top {
    margin-bottom: 44px;
  }
}
.benefits-top .undertitle {
  margin-bottom: 0;
}
.benefits-bottom {
  max-width: 450px;
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .benefits-bottom {
    align-self: flex-end;
  }
}
@media screen and (min-width: 1200px) {
  .benefits-bottom {
    max-width: 370px;
    margin-right: 120px;
  }
}
.benefits-list {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}
@media screen and (max-width: 479.98px) {
  .benefits-list {
    justify-content: center;
    gap: 30px;
  }
}
.benefits-item {
  width: 193px;
  min-height: 133px;
  padding: 20px 32px;
  background-color: var(--arctic-bg-cl);
  text-align: center;
}
@media screen and (min-width: 768px) {
  .benefits-item {
    width: 210px;
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media screen and (min-width: 1200px) {
  .benefits-item {
    width: 170px;
    padding-left: 24px;
    padding-right: 24px;
  }
}
@media screen and (min-width: 480px) {
  .benefits-item:nth-child(2n) {
    margin-top: 30px;
    margin-left: 30px;
  }
}
.benefits-quantity {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.36;
  letter-spacing: 0.05em;
  position: relative;
  display: inline-block;
  color: var(--main-txt-cl);
}
.benefits-quantity:after {
  content: '+';
  position: absolute;
  top: 6px;
  right: -15px;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.37;
  color: var(--accent-txt-cl);
}
.benefits-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-align: center;
  color: var(--main-txt-cl);
}
/**
  |============================
  | Team
  |============================
*/
.team {
  background-color: var(--arctic-bg-cl);
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .team-container {
    max-width: 480px;
  }
}
@media screen and (min-width: 1200px) {
  .team-list {
    --items: 3;
  }
}
.team-item {
  outline: 2px dotted hotpink;
  outline-offset: -2px;
}
.team-name {
  margin-bottom: 8px;

  font-weight: 400;
  font-size: 18px;
  line-height: calc(25 / 18);
  text-align: center;
  letter-spacing: 0.02em;
}
.team-position {
  margin-bottom: 30px;
  font-size: 14px;
  line-height: calc(19 / 14);
  text-align: center;
  letter-spacing: 0.02em;

  color: var(--accent-txt-cl);
}
.team-wrapper {
  padding: 30px 10px;
}
.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.socials-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--light-bg-cl);
  color: rgb(48, 48, 48);
}
.socials-link:hover,
.socials-link:focus {
  color: var(--accent-txt-cl);
}
.socials-icon {
  fill: currentColor;
}
/**
  |============================
  | Gallery
  |============================
*/
.gallery-uppertitle {
  margin-bottom: 44px;
}
@media screen and (min-width: 768px) {
  .gallery-list {
    --items: 2;
  }
}
@media screen and (min-width: 1200px) {
  .gallery-list {
    --items: 4;
  }
}
@media screen and (min-width: 768px) {
  .gallery-list {
    --items: 2;
  }
}
@media screen and (min-width: 1200px) {
  .gallery-list {
    --items: 4;
  }
}
.gallery-item {
  position: relative;
  overflow: hidden;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(100%);

.gallery-item {
  position: relative;
  overflow: hidden;

  outline: 2px dashed blueviolet;
  outline-offset: -2px;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(100%);

  padding: 20px;

  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(3px);

  transition: transform var(--anim-slow);
}
.gallery-item:hover .overlay {
  transform: translateY(0);
}
.overlay-text {
  color: var(--light-txt-cl);
}
/**
  |============================
  | Booking
  |============================
*/
.contatcs-group {
  max-width: 1600px;
  margin: 0 auto;
  background-color: var(--dark-bg-cl);
  background-image: url(../images/booking/booking-bg.png);
  background-repeat: no-repeat;
  background-position: left calc(50% + 423px) top 50%;
} /* booking form */
.booking-form-group {
  display: flex;
  align-items: center;
  gap: 30px;
}
.booking-form-field {
  position: relative;
  width: 270px;
  margin-bottom: 44px;
}
.booking-form-input {
  width: 100%;
  height: 24px;

  font-size: 14px;
  color: var(--grey-cl);

  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--grey-cl-40);
  outline: transparent;

  transition: border-color var(--anim-fast);
}
.booking-form-input:focus,
.booking-form-input:not(:placeholder-shown) {
  border-color: var(--light-bg-cl);
}
.booking-form-input::placeholder {
  font-size: 14px;
  opacity: 0;
  transition: opacity var(--anim-fast);
}
.booking-form-input:focus::placeholder {
  opacity: 1;
  transition-delay: 200ms;
}
.booking-form-label {
  position: absolute;
  top: 0;
  left: 0;

  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: var(--grey-cl-40);
  transform-origin: left;

  transition: color var(--anim-fast), transform var(--anim-fast);
}
.booking-form-input:focus + .booking-form-label,
.booking-form-input:not(:placeholder-shown) + .booking-form-label,
.booking-form-textarea:focus + .booking-form-label,
.booking-form-textarea:not(:placeholder-shown) + .booking-form-label {
  color: var(--light-txt-cl);
  transform: translateY(-100%) scale(0.8);
}
.booking-form-message {
  position: relative;
  display: block;
  margin-bottom: 44px;
}
.booking-form-textarea {
  width: 100%;
  height: 76px;
  resize: none;

  font-size: 14px;
  color: var(--grey-cl);

  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--grey-cl-40);
  outline: transparent;
}
.booking-form-textarea:focus,
.booking-form-textarea:not(:placeholder-shown) {
  border-color: var(--light-bg-cl);
}
.booking-form-textarea::placeholder {
  font-size: 14px;
  opacity: 0;
  transition: opacity var(--anim-fast);
}
.booking-form-textarea:focus::placeholder {
  opacity: 1;
  transition-delay: 200ms;
}
/**
  |============================
  | Contatcs
  |============================
*/
.contatcs-container {
  display: flex;
  justify-content: space-between;
}
.contacts,
.booking {
  width: 570px;
}
.contacts {
  padding-left: 100px;
}
.contacts-address {
  margin-bottom: 70px;
  font-style: normal;
}
.contacts-item:not(:last-child) {
  margin-bottom: 32px;
}
.contacts-link {
  display: flex;
  align-items: center;
  gap: 16px;

  color: var(--grey-cl);
}
.contacts-text {
  font-weight: 700;
}
.contacts-item:first-child .contacts-icon {
  margin-top: 6px;
  align-self: baseline;
}
.contacts-uppertitle {
  display: flex;
  align-items: center;
  margin-bottom: 20px;

  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: var(--light-txt-cl);
}
.contacts-uppertitle:before {
  content: '';
  width: 60px;
  height: 1px;
  margin-right: 20px;
  background-color: rgba(157, 164, 189, 0.4);
}
.contacts-schedule {
  color: var(--grey-cl);
} /**
  |============================
  | Footer
  |============================
*/
@media screen and (max-width: 767.98px) {
  .footer {
    padding-top: 44px;
    padding-bottom: 44px;
  }
}
.footer-container {
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 767.98px) {
  .footer-container {
    gap: 20px;
  }
}
@media screen and (min-width: 768px) {
  .footer-container {
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }
}
.footer-copyright {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: var(--grey-cl);
}
@media screen and (max-width: 767.98px) {
  .footer-copyright {
    margin-top: 20px;
  }
}
@media screen and (max-width: 767.98px) {
  .footer-media-list {
    align-self: flex-end;
  }
}
@media screen and (min-width: 768px) {
  .footer-media-link {
    padding-top: 56px;
    padding-bottom: 56px;
  }
}
/**
  |============================
  | Modal window
  |============================
*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--modal-idx);
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(2px);

  transition: visibility var(--anim-fast), opacity var(--anim-fast);
}
.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;

  width: 520px;
  min-height: 500px;
  padding: 50px 40px;

  background-color: var(--light-bg-cl);
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

  transition: opacity var(--anim-fast) 200ms, transform var(--anim-fast) 200ms;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -70%);
  opacity: 0;
}
.modal-btn {
  position: absolute;
  top: 10px;
  right: 10px;

  width: 30px;
  height: 30px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--grey-cl-60);
  border: 1px solid var(--dark-bg-cl);
  border-radius: 50%;

  transition: color var(--anim-fast), background-color var(--anim-fast);

  cursor: pointer;
}
.modal-btn:hover,
.modal-btn:focus {
  color: var(--accent-bg-cl);
  background-color: transparent;
}
/* registration form */
.registration-form-appeal {
  display: block;
  margin-bottom: 15px;
  text-align: center;
}
.registration-form-group {
  margin-bottom: 20px;
}
.registration-form-field {
  position: relative;
  display: block;
}
.registration-form-field:not(:last-child) {
  margin-bottom: 10px;
}
.registration-form-label {
  display: block;
  margin-bottom: 4px;

  font-size: 14px;
}
.registration-form-input {
  width: 100%;
  height: 40px;
  padding-left: 40px;
  padding-right: 40px;

  background-color: transparent;
  border-radius: var(--field-radius);
  outline: 1px solid transparent;
  outline-offset: -1px;
  border: 1px solid var(--dark-bg-cl);

  transition: outline var(--anim-fast), box-shadow var(--anim-fast);
}
.registration-form-input:focus {
  outline-color: var(--accent-bg-cl);
  box-shadow: 0 0 0 4px rgba(255, 108, 0, 0.25);
}
.registration-form-input:not(:placeholder-shown):required:valid {
  outline-color: rgb(58, 181, 6);
  box-shadow: unset;
}
.registration-form-input:not(:placeholder-shown):required:invalid {
  outline-color: rgb(220, 16, 16);
  box-shadow: unset;
}
.registration-form-icon {
  position: absolute;
  bottom: 10px;
  left: 10px;
  transition: fill var(--anim-fast);
}
.registration-form-input:focus + .registration-form-icon {
  fill: var(--accent-bg-cl);
}
.registration-form-input:not(:placeholder-shown) + .registration-form-icon {
  fill: inherit;
}
.registration-form-alert {
  position: absolute;
  bottom: 10px;
  right: 10px;
}
.registration-form-success,
.registration-form-warning {
  fill: transparent;
  transform: scale(0.3);
  transform-origin: center;
  transition: fill var(--anim-fast), transform var(--anim-fast);
}
.registration-form-input:not(:placeholder-shown):required:valid
  ~ .registration-form-alert
  > .registration-form-success {
  fill: rgb(58, 181, 6);
  transform: scale(1);
  transition-delay: 150ms;
}
.registration-form-input:not(:placeholder-shown):required:invalid
  ~ .registration-form-alert
  > .registration-form-warning {
  fill: rgb(220, 16, 16);
  transform: scale(1);
  transition-delay: 150ms;
}
/* form message */
.registration-form-message {
  display: block;
  width: 100%;
  padding: 14px 20px;

  font-size: 14px;

  outline: 1px solid transparent;
  outline-offset: -1px;
  border: 1px solid var(--dark-bg-cl);
  border-radius: var(--field-radius);

  transition: outline var(--anim-fast), box-shadow var(--anim-fast);
  resize: none;
}
.registration-form-message:focus {
  outline-color: var(--accent-bg-cl);
  box-shadow: 0 0 0 4px rgba(255, 108, 0, 0.25);
}
/* checkbox */
.registration-form-agreement {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  margin-bottom: 20px;

  font-size: 14px;
}
.registration-form-checkbox {
  -webkit-appearance: none;
  appearance: none;
}
.registration-form-checkbox:checked {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath d='M470.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L192 338.7 425.4 105.4c12.5-12.5 32.8-12.5 45.3 0z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 15px;

  background-color: var(--accent-bg-cl);
  border-color: var(--accent-bg-cl);
}
.registration-form-text {
  user-select: none;
}
.registration-form-link {
  color: var(--accent-txt-cl);
}
.registration-form-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/* checkbox with svg */
.check {
  opacity: 0;
  transition: 300ms;
}
.uncheck {
  opacity: 1;
  transition: 300ms;
}
.registration-form-checkbox:checked ~ .registration-form-check > .check {
  opacity: 1;
}
.registration-form-checkbox:checked ~ .registration-form-check > .uncheck {
  opacity: 0;
}
/**
  |============================
  | Mobile menu
  |============================
*/
.menu-toggle,
.menu-close-btn {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0;
  margin-left: auto;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}
.menu-close-btn {
  position: absolute;
  top: 15px;
  right: 15px;
}
@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}
.menu-toggle:hover,
.menu-toggle:focus {
  background-color: rgba(0, 0, 0, 0.1);
}
.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 32px;
  background-color: #3f51b5;
  z-index: 999;

  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}
.menu-container.is-open {
  transform: translateX(0);
}
.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  color: #fff;
}
.mobile-menu {
  padding: 0;
  margin: 0;
  list-style: none;
}
.mobile-menu:last-child {
  outline: 2px solid red;
}
.mobile-menu .link {
  display: block;
  padding: 10px;
  color: #fff;
  text-decoration: none;
}
