/* reset start */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
/* reset end */

.container {
  width: 90vw;
  padding: 0 10px;
  margin: 0 auto;
}

/**
  |==============================
  | CSS pseudo-class :nth-child()
  |==============================
*/
.pseudo-class {
  display: none;
  --color1: #f7756e;
  --color2: #6e95f7;
  --color3: #0ac26f;
  --color4: #f7b96e;

  margin: 0 auto;
  padding: 100px 0;

  text-align: center;
}
.title {
  margin-bottom: 50px;
  font-size: 4em;
  text-align: center;
}
/* nth-child */
.item {
  display: inline-block;
  width: 100px;
  height: 100px;

  font-size: 1.3em;
  text-align: center;
  line-height: 100px;

  border-radius: 50%;
  border: 1px solid var(--color4);
}

/* .item {
  margin-right: 10px;
}

.item:last-child {
  margin-right: 0;
}

.item:not(:last-child) {
  margin-right: 10px;
} */

.item:first-child {
  /* background-color: var(--color2); */
}
.item:last-child {
  /* background-color: var(--color2); */
}
/*
an + b

a - період циклу
n - лічильник циклу
b - зміщення
*/

/* .item:nth-child(2n + 1) {
  background-color: var(--color3);
}
.item:nth-child(2n) {
  background-color: var(--color1);
} */

/* .item:nth-child(-n + 5) {
  background-color: var(--color1);
}  */

/* .item:nth-last-child(2n + 1) {
  background-color: var(--color3);
}
.item:nth-last-child(2n) {
  background-color: var(--color1);
} */

/**
  |============================
  | Flexbox layout
  |============================
*/
.flex {
  /* display: none; */
}

.flex-title {
  font-size: 1.5em;
  text-align: center;
  letter-spacing: 0.05em;
  margin-bottom: 30px;
}

.flex-list {
  position: relative;
  /* height: 400px; */
  outline: 5px dashed orange;
}

.flex-list:before {
  content: 'flex-container';
  position: absolute;
  top: -30px;
  left: -10px;
  color: orange;
  text-transform: uppercase;
}

.flex-item {
  position: relative;
  width: 200px;
  height: 100px;

  font-size: 20px;
  line-height: 100px;
  text-align: center;
  color: white;

  background-color: lightblue;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.flex-item:before {
  content: 'flex-element';
  position: absolute;
  top: -30px;
  left: 10px;
  font-size: 14px;
  color: red;
}

/**
  |============================
  | Flexbox layout
  |============================
*/
.flex-list {
  display: flex;
  flex-wrap: wrap;
  /* gap: 50px 20px; */
  row-gap: 40px;
  column-gap: 10px;

  /*
  Default properties

  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;

  */
}

.flex-item:nth-child(3) {
  /* font-size: 3em; */
  /* align-self: center; */
  /* order: -2;
  background-color: #0ac26f; */
}

/* .flex-item:nth-child(6) {
  order: -1;
  background-color: #f7756e;
} */

.flex-item {
  flex-basis: auto;
  flex-shrink: 1;
  flex-grow: 0;
}
