:root {
  --gradient-1: linear-gradient(310deg, #7928ca, #ff0080);
}
@keyframes move {
  from {
    background-position: 50% calc(50% - 10px);
  }
  to {
    background-position: 50% calc(50% + 10px);
  }
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
}

.relative-box {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 800px;
  height: 500px;
  background-color: lightblue;
  border-radius: 15px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 200px;
  border-radius: 5px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);

  font-size: 3em;
  color: white;
}

.box:nth-child(1) {
  background-color: tomato;
}

.box:nth-child(2) {
  background-color: blueviolet;
}

.box:nth-child(3) {
  background-color: hotpink;
}

/**
  |============================
  | Position relative
  |============================
*/
/* .box:nth-child(2) {
  position: relative;
  top: 50%;
  left: 50%;
} */
/**
  |============================
  | Position absolute
  |============================
*/
.relative-box {
  position: relative;
}
.box:nth-child(2) {
  position: absolute;
  top: calc(50% - 100px);
  left: calc(50% - 100px);
}
.box:nth-child(3) {
  position: relative;
  left: 30%;
}
/**
  |============================
  | Fixed button
  |============================
*/
.fixed-btn {
  position: fixed;
  bottom: 30px;
  right: 30px;

  width: 150px;
  height: 150px;

  border: none;
  border-radius: 50%;
  cursor: pointer;

  background-image: url('https://upload.wikimedia.org/wikipedia/en/e/ed/Nyan_cat_250px_frame.PNG');
  background-repeat: no-repeat;
  background-size: 200px;

  animation: move 800ms ease-in-out infinite alternate both;
}

/**
  |============================
  | Overlay text
  |============================
*/
.wrapper {
  position: relative;
}

.wrapper::after {
  content: '';
  position: absolute;
  top: -20px;
  left: -20px;
  z-index: -1;

  display: block;
  width: 100%;
  height: 100%;

  background-image: var(--gradient-1);
  border-radius: 20px;
}
.thumb {
  border-radius: 20px;
  overflow: hidden;
}
.overlay-box {
  position: absolute;
  left: 5%;
  bottom: 20px;

  width: 90%;
  padding: 10px;
  backdrop-filter: blur(6px);
  border-radius: 10px;
}
.overlay-text {
  color: #ffffff;
  letter-spacing: 0.4em;
  text-align: center;
  text-transform: uppercase;
}

.block {
  width: 300px;
  height: 60px;

  outline: 2px solid red;
  outline-offset: -2px;

  overflow: auto;
}
.text {
}

.example {
  width: 300px;
  background-color: rgba(173, 216, 230, 0.6);
}
